.section {
  display: grid;
  height: 100vh;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;

  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile__img {
  position: relative;

  width: 98%;
  height: min(40vh, 500px);
  background-size: cover;
}

.profile__img::after {
  content: "";
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  top: 2%;
  right: -2%;

  border: 1px solid black;
}

.text h1 {
  font-size: min(15vw, 4em);
  line-height: 1em;
}

.content {
  margin-left: 4ch;
  width: min-content;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content > h1 {
  position: relative;
}

.content > h1::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0.1em;
  border: 0.15em solid #c2c2c2;
  width: 90%;

  z-index: -1;
}

.buttons {
  display: flex;
  gap: 0.5em;
}
