.grid {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
  row-gap: 5em;
  align-content: center;
}

.trim {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  overflow: hidden;
}

.wave {
  transform: rotate(180deg);
  height: 90vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(93%) sepia(26%) saturate(608%)
    hue-rotate(184deg) brightness(104%) contrast(96%);
}

.circles {
  position: absolute;
  left: 10vw;
  bottom: -5em;
  width: 2.5em;
  opacity: 0.3;
}

.line-spiral {
  position: absolute;
  left: 10vw;
  bottom: -3vh;
  width: 8em;
  transform: rotate(230deg);
}

.programmer_img {
  width: min(100%, 500px);
}

.profile__img {
  position: relative;
  justify-self: center;

  width: min(100vw, 500px);
}

.text h1 {
  font-size: min(15vw, 4em);
  line-height: 1em;
}

.content {
  margin-left: 4ch;
  width: min-content;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content > h1 {
  position: relative;
}

/* .content > h1::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0.1em;
  border: 0.15em solid #ffaf7d;
  opacity: 0.4;
  width: 90%;

  z-index: -1;
} */

.buttons {
  display: flex;
  gap: 0.5em;
}

.result-msg {
  text-align: center;
  color: green;
  /* display: block; */
}
