.section {
  padding-top: 6.2em;
}

.section > h2 {
  margin-bottom: 3em;
}

.cards {
  display: grid;
  gap: 3em;
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  border: 1px solid black;
}

.card > img {
  width: min(100%, 400px);
}

.text {
  flex: 1 0 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttons {
  display: flex;
  gap: 0.5em;
}
