.section {
  position: relative;
  padding: 6.2em 0 3em;
}

.section::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 150vw;
  height: 100%;
  z-index: -1;
  /* background-color: rgb(153, 153, 182); */
  background-color: rgb(190, 190, 241);
}

/* .section h2,
.section h3,
.section p {
  color: rgb(228, 228, 228);
} */

.section > h2 {
  margin-bottom: 3em;
}

.cards {
  display: grid;
  gap: 3em;
}

.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  border: 1px solid black;
}

.card::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 1px;
  height: calc(3em + 1px);
  background-color: rgb(177, 177, 177);
  opacity: 0.5;
}

.card:first-child::after {
  left: 3em;
}

.card:nth-child(2)::after {
  right: 3em;
}

.card:last-child::after {
  height: 0;
}

.card > img {
  width: min(100%, 400px);
}

.text {
  flex: 1 0 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttons {
  display: flex;
  gap: 0.5em;
}
