.section {
  position: relative;
  padding: 6.2em 0;
}

.section > h2 {
  margin-bottom: 3em;
}

.circle {
  position: absolute;
  right: 10vw;
  top: 8em;
  width: 4em;
  opacity: 0.6;
}

.skills_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4em);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 1.5em;
}

.grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;

  width: 4em;
  padding: 0.5em;

  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.12);
}

.icon {
  width: 70%;
  transition: filter 0.4s ease-in-out;
}

.grid_item:hover .icon {
  filter: brightness(0) saturate(100%) invert(71%) sepia(26%) saturate(766%)
    hue-rotate(327deg) brightness(100%) contrast(101%);
}

.grid_item > p {
  font-size: 0.8em;
}
