.nav {
  width: min(90%, 1000px);
  padding: 1em 0;

  z-index: 10000;

  position: fixed;
  top: 0;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-hamburger {
  z-index: 10000;
}

.nav__open > ul {
  z-index: 1000;
  font-size: 1.3rem;

  height: 100vh;
  width: min(50vw, 265px);
  padding-inline: 1em;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7em;

  list-style-type: none;
  background-color: rgba(222, 222, 222, 1);
}

.nav__open a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #1f1f1f;
}

.nav__open a::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* height: 100%; */
  /* height: 40%; */
  background-color: lightsalmon;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav__open a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .nav__open > .active::before {
} */
