.nav {
  width: min(90%, 1000px);
  padding: 1em 0;

  z-index: 10000;

  position: fixed;
  top: 0;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  z-index: 10000;
}

.nav__open {
  z-index: 1000;
  font-size: 1.3rem;

  height: 100vh;
  width: min(50vw, 200px);
  padding-inline: 1em;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7em;

  background-color: rgba(222, 222, 222, 1);
}

.nav__open > a {
  text-decoration: none;
  color: #1f1f1f;
}
