:root {
  --font-Bodoni: "Bodoni MT", "Bodoni 72", Didot, "Didot LT STD", "Hoefler Text",
    Garamond, "Times New Roman", serif;

  font-size: calc(15px + 0.390625vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfdfd;
  /* padding-inline: min(5%, 00px); */
}
