@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
}

:root {
  --font-Bodoni: "Bodoni MT", "Bodoni 72", Didot, "Didot LT STD", "Hoefler Text",
    Garamond, "Times New Roman", serif;
  --font-Open-Sans: "Open Sans", sans-serif;
  --font-Playfair-Display: "Playfair Display", serif;

  font-family: var(--font-Open-Sans);

  font-size: calc(16px + 0.390625vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fdfdfd;
  max-width: 100vw;
  width: 100vw;
  color: #04151f;
}

h2 {
  font-size: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Playfair-Display);
}
