.section {
  position: relative;
  padding-top: 6.2em;
}

.section > h2 {
  margin-bottom: 3em;
}

.flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
}

.circle {
  position: absolute;
  left: 35%;
  top: 8em;
  width: 20em;
  opacity: 0.4;
}
